<form [formGroup]="pokemonFilterForm" (submit)="getFightResults()">
    <div>
        <label for="sort-by">Sort By</label>
        <select id="sort-by" formControlName="sortBy"  >
            @for (by of sortByOptions; track $index) {
                <option [value]="by" >{{ by }}</option>
            }
        </select> 
    </div>  
    
    <div>
        <label for="sort-dirc">Sort Direction</label>
        <select id="sort-dirc" formControlName="sortDirection"  >
            @for (dirc of sortDircOptions; track $index) {
                <option [value]="dirc" >{{ dirc }}</option>
            }
        </select> 
    </div>
    
    <button type="submit" class="primary">Get Results</button>
</form>
